@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
 
    .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

  }
   
    .hamburger { display: none;	}
	.navigation {
        overflow: hidden;
        text-align: center;
    }
	.navigation li {
        display: inline-block;
        margin-left: .25rem;
    }
	.navigation a {
        display: block;
        color: #ddd;
        padding: .5rem;
        background: rgba(76, 100, 180, 0.2);
        text-align: center;
        text-decoration: none;
    }
	.navigation a:hover {
        color: #fff;
        background: rgba(76, 100, 180, 0.7);
    }
    nav {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0 0 0 0;
    }
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    nav ul li { 
        float: left;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
    }
    nav a {
        display: block;
        padding: 8px;
        background-color: #dddddd;
    }
    .forecast {
        display: block;
    }
    .hamburger {
        display: none;
    }
  }