@media (min-width: 1024px) {
    main {
    grid-template-columns: 1fr 1fr;
    background-image: 
        linear-gradient(
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9))
        , url('../images/bikebackground1200.jpg');
    background-size: 100%, cover;
    background-clip: border-box, border-box;
    background-repeat: no-repeat, no-repeat;
    background-position: top, top;
    }
}