@media (min-width: 1024px) {

header {
    height: 400px;
    margin: 0 0 0 0;
    background: 
        url('../images/bikeheader1280.jpg');
    background-size: 100%;
    background-clip: border-box;
    background-repeat: no-repeat;
}
}