main {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
}

main > article {
    margin: 0px 15px 5px 15px;
    text-align: left;
}

table, th, td {
    margin:10px 0;
    border:solid 1px #333;
    padding:2px 4px;
    font:15px Verdana;
}

th {
    font-weight:bold;
}
