* {
    font-family: 'Overpass';
}

body {
}

img {
    width: 100%;
}

header {
    width: 100%;
    height: 120px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    position: relative;
    float: left;
    color: white;
    background: 
        url('../images/logo.svg'), url('../images/bikeheader645.jpg');
    background-size: 15%, 100%;
    background-clip: border-box, border-box;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, center;
}

.header-text {
    padding-top:10px;
    font-size:.75em;
}

.header-toggle {
    display:none;
}

nav {
    margin: 50px;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul.opening {
    display: block;
    height: 30px;
}

nav li { border-bottom: 1px solid #f6f4e2; }

nav li:last-child { border-bottom: none; }

nav a {
    color: white;
    background: rgba(145, 188, 168,.80);
    display: block;
    padding: 1.5em 4em 1.5em 3em;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover, nav a:focus { background: #3d484b; }

.site-nav--icon {
    font-size: 1.4em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
}

main {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
}

main > article {
  margin: 0px 15px 5px 15px;
  text-align: left;
}

main .button {
  font: bold 20px 'Overpass';
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.ride-list-grid {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: top;
}

footer {
    display:grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: center;
    background: rgba(145, 188, 168,.80)
}

.footer-logo {
    margin: 10px;
    width:40px;
}

footer .contact-link {
    margin: 10px;
}

footer .our-address {
    margin: 10px;
}